<!DOCTYPE html>
<html>
    <head>
        <title>Assignments</title>
        <style>
            p    {word-wrap: break-word}
        </style>
    <head>
    <body>
        <h1>Assignments</h1>
        <ol>
            <li>Homework 1</li>
            <p>In part a, we solved a few problems regarding binary and truth tables.
            In part b, we created our first program with basic functions and wrote small
            methods to edit lists in different ways.</p>
            <li>Homework 2</li>
            <p>In part a, we solved problems regarding iterations, time 
            ecomplexities, and different types of searches. In part b, we created
            a program with function to more accurately calculate trajectories
            using physics and got started on our machine learning program that intakes
            human breast cancer cells with functions collecting information about the 
            given data.</p>
            <li>Homework 3</li>
            <p>In part a, we wrote pseuodcode for set operations along with
            information about their time complexities. We also did a problem on
            writing given functions recursively. In part b, we wrote a percolation
            program. We also continued our machine learning program.</p>
            <li>Homework 4</li>
            <p>In this homework, we wrote an ovject-oriented program simulating a class, along with a
            teacher, students, assignments, and grades. We learned about how to 
            implement classes in python and plotted the results.</p>
            <li>Midterm</li>
            <p>For the midterm, we wrote a program with three methods (object_filter,
            shades_of_gray, and horizontal_flip) to edit ppn files.</p>
            <li>Homework 5</li>
            <p>For this homework, we completed our machine learning program by
            implementing advanced statistics on the data, pariplots and heatmaps,
            k-nearest neighbors, and support vector machine classifier.</p>
        </ol>
        <p>My favorite assignment this semester was <i>Homework 4</i> because I am
        familiar with object-oriented programming. I found the homework to be
        simple and easy to understand, and the immediated real-life applications 
        were apparent. I learned useful information about object-oriented programming
        that will help me later on.</p>
    </body>
</html>

