<!DOCTYPE html>
<html>
    <head>
        <title>Page 2</title>
    <head>
    <body>
        <h1>Classes</h1>
        <ul>
            <li>Physics II: Thermo, Elec</li>
            <li>The Art of Engineering</li>
            <li>Intro to Comp for Eng/App</li>
            <li>Principles of Economics</li>
            <li>The Rise of Civilization</li>
        </ul>
        <p>My favorite class I've taken so far has been physics. I like the 
        professor and the structure of the class. There has been continuity in
        the content since I took <i>Physics I</i> last semester and <i>Physics II</i>
        this semester. Since I have mostly been completing requirements so far, 
        I am pretty satisfied with the rest of my STEM classes.</p>
    </body>
</html>

