<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    <head>
    <body>
        <h1>Gulnur Avci</h1>
        <p><b>Picture of myself:</b></p>
        <img src="/static/gulnur.jpeg" alt="gulnur picture" width=300 height=400>
        <p><b>Current Grade:</b> Freshman</p>
        <p><b>Major:</b> Electrical Engineering</p>
        <h3>Pages:</h3>
        <ul>
            <li><a href="assignments.html">Assignments</a></li>
            <li><a href="classes.html">Classes</a></li>
        </ul>
    </body>
</html>

