<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <h1>Gulnur Avci</h1>
        <p><b>Picture of myself:</b></p>
        <img src="gulnur.jpeg" alt="gulnur picture" width="104" height="142">
        <p><b>Current Grade:</b>Freshmen</p>
        <p><b>Major:</b>Electrical Engineering</p>
        <p><a href="page1.html">page 1</a></p>
        <p><a href="page2.html">page 2</a></p>
    </body>
</html>

